{{ define "readme" }}
Hello! I'm Ethan.

## About Me

I am a {{ .Age }} year old driven developer attending North Carolina State University who's
looking to master the many fields of computer science. My goal is to find innovative
solutions to compelling problems across various disciplines. In addition to my
knowledge of diverse coding modalities, I consistently work to improve my knowledge
of math, science and other changing technologies.

## Projects

My favorite projects I have crafted:

{{ range .Repos }}
* [{{ .Title }}]({{ .Url }}) - {{ .Description }}
{{ end }}

## Tech Stack

Skills I have learned and honed over the years:

* Frontend
  * HTML/CSS/JS
  * SCSS
  * Typescript
  * Angular/AngularJS
  * React
* Backend
  * Golang
  * NodeJS
  * Java/SpringBoot
  * REST APIs
  * Web Sockets
* Database
  * SQL
  * MySQL
* Processes
  * Git
  * Docker/Docker Compose
  * Jenkins
  * Agile/Scrum
* Terminal-Based Development
  * Bash
  * C/C++
* Data Science
  * Artificial Intelligence
  * Statistics
  * Python
* STEM
  * Mathematics
  * Physics
  * Biology
  * Chemistry

## Experience

Experiences and opportunities I've had throughout my journey:

* Software Developer Intern for [Transend Financial](https://www.transendfinancial.com/)
* Software Development Intern for [Bio-Rad Laboratories](https://www.bio-rad.com/)
* Developer for [Institute for Transportation Research and Education](https://itre.ncsu.edu/)

## Contact

Want to get in touch? You can find me anywhere below:

* [contact@ethanbaker.dev](mailto:contact@ethanbaker.dev)
* [LinkedIn](https://www.linkedin.com/in/ethandbaker/)
* [GitHub](https://github.com/ethanbaker)

{{ end }}